body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% da altura da viewport */
    background: url('bgMary.png') center/cover no-repeat; /* Substitua pela sua imagem de fundo */
}

.logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.info {
    text-align: center;
    color: #fff; /* Cor do texto, substitua conforme necessário */
}

.social-icons {
    margin-top: 20px;
}

.social-icons a {
    margin: 0 10px;
    text-decoration: none;
}

.social-icons img {
    max-width: 50px; /* Ajuste o tamanho conforme necessário */
    height: auto;
}
